.menu-component {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #e5e6a2;
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    max-width: 27rem;
    height: 100vh;
    border-left: 0.1rem solid black;
    z-index: 15;
}

@media (min-width: 1024px) {
    .menu-component {
        display: none;
    }
}
