.cardlist-component {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    padding-bottom: 4vh;
}

.centered {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    z-index: 15;
}

@media (min-width: 780px) {

    /* .cardlist-component {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;  
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    } */
    .cardlist-component {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        align-items: flex-start;
        justify-content: space-evenly;
    }
}

@media (min-width: 1024px) {
    .cardlist-component {
        width: 70vw;
    }
}