.cardlist-component {
    width: 100vw;
    height: 100vh;
}

@media (min-width: 780px) {

    .cardlist-component {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;  
        margin: 0;
        padding: 0;
    }

}