/* .card-component_closed-mobile {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    height: 25vh;
    background-color: hsl(61, 58%, 77%);
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 2rem 2rem;
    border: 0.4rem solid #4c6fb3;
    box-shadow: 0rem 0.5rem 0.5rem black;
} */

.card-component_opened-mobile {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    height: 70vh;
    background-color: hsl(61, 58%, 77%);
    margin-left: 1rem;
    margin-top: 2rem;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 2rem 2rem;
    border: 0.4rem solid #4c6fb3;
    box-shadow: 0rem 0.5rem 0.5rem black;
    position: relative;
} 

.card-component_closed-mobile .pokemon_picture  {
    width: 20vw;
    height: 15vh;
}

.card-component_opened-mobile .pokemon_picture {
    height: 30vh;
    width: 50vw;
}

.card-container {
    margin-top: 3rem;
    padding: 0;
    position: static;
    text-align: left;
}

.card-container li {
    list-style: none;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
}

.card-container li:first-child {
    color: #4c6fb3;
    font-size: larger;
    text-align: center;
    font-weight: bolder;
}

.card-container li p {
    display: inline-block;
    margin: 0 0.4rem;
    font-weight: lighter;
}

.card-container li p:hover {
    color: #dd2947;
}

.wrapping {
    display: block;
}

.layer {
    background-color: rgba(0, 0, 0, .6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
}

.add-to-fav_btn {
    background: transparent;
    border: none;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.add-to-fav {
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
}

@media (min-width: 504px) {
    .card-component_opened-mobile {
        margin-left: 5rem;
        margin-top: 8rem;
        width: 70vw;
    }

    .card-component_opened-mobile .pokemon_picture {
        height: 40vh;
    }
}

@media (min-width: 780px) {

    .card-component_opened-mobile {
        width: 30vw;
        margin-left: 4rem;
        height: 25rem;
    }

    .card-component_opened-mobile .pokemon_picture {
        width: 40vw;
    }

    
}
