.filters-component {
    width: 80vw;
    height: 40vh;
    text-align: center;
    background-color: #dd2947;
}

.filters-component h2 {
    font-weight: normal;
}

@media (min-width: 1024px) {
    .filters-component {
        left: 0;
        width: 25vw;
    }
}