.filters-component {
    width: 80vw;
    max-width: 27rem;
    height: 50vh;
    text-align: center;
    background-color: #dd2947;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    padding: 1rem;
    box-sizing: border-box;

}

.filters-component h2 {
    font-weight: normal;
}

.checkbox {
    height: 27vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.filters-search input {
    height: 4vh;
    width: 55vw;
    max-width: 20rem;
    margin: 0.4rem;
}

.checkbox-btn {
    height: 10vh;
    border: none;
    font-size: large;
    background-color: #4c6fb3;
    color: #e5e6a2;
}

.checkbox-btn:focus {
    box-shadow: 0 0.2rem 0.4rem black;
}

@media (min-width: 504px) {

    .checkbox-btn:hover {
        box-shadow: 0 0.2rem 0.4rem black;
    }
}    

@media (min-width: 780px) {
    .checkbox-btn {
        height: 7vh;
    }
}

@media (min-width: 1024px) {
    .filters-component {
        left: 0;
        width: 25vw;
    }
}