.login-component {
    width: 95vw;
    height: 50vh;
    background-color: #e5e6a2;
    position: fixed;
    top: 30vh;
    left: 0;
    z-index: 14;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    text-align: center;
    box-sizing: border-box;
    border: 0.5rem solid #4c6fb3; 
    border-radius: 2rem 2rem;
    padding-left: 1rem;
    margin-left: 0.5rem;
}

.login-component h4 {
    text-align: center;
    font-weight: normal;
    color: #4c6fb3;
    margin: 0;
}

.login-component h4:hover {
    color: #dd2947;
    text-decoration: underline;
}

.form-inputs {
    text-align: center;
}

.login_input {
    width: 80vw;
    height: 7vh;
}

.login_input::placeholder,
.password_input::placeholder,
input[type="password"]::placeholder {
    text-align: center;
    font-size: large;
    color: #4c6fb3;
}

.login_input:focus,
.password_input:focus,
input[type="password"]:focus {
    outline: none;
    border: 0.2rem solid #4c6fb3;
    font-size: 1.4rem;
    color: #4c6fb3
}

.password_input,
input[type="password"] {
    width: 80vw;
    height: 7vh;
    margin-bottom: 3rem;
    align-self: center;
}

.login_btn {
    width: 80vw;
    height: 7vh;
    font-size: larger;
    border: none;
    background-color: #dd2947;
    color: #e5e6a2;
    align-self: center;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
}

.login_btn:focus {
    box-shadow: 0rem 0.1rem 0.4rem #4c6fb3;
}

.layer-login {
    z-index: 13;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
}