/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
}

html {
  background-color: #dd2947;
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pokemon_picture-header {
  height: 10vh;
  width: 70vw;
  margin-top: 0.5rem;
  padding-left: 0rem;
}

header h1 {
  font-size: 2rem;
  -webkit-text-stroke: 0.15rem #000000;
  color: #dfd21e;
  text-shadow:
      3px 3px 0 #000,
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}

.button-menu {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.one_dash,
.two_dash,
.three_dash {
  display: block;
  width: 2rem;
  height: 0.2rem;
  margin: 0.2rem;
  background-color: #dfd21e;
  border: 0.17rem solid black;
  border-radius: 2rem 2rem;
}

.pagination-container {
  display: block;
  background-color: #dfd21e;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 10vh;
  position: fixed;
  bottom: 0px;;
  z-index: 10;
}

.pagination {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #dfd21e;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 10vh;
  font-size: 2rem;
  position: fixed;
  bottom: 0px;;
  z-index: 10;
}

.pagination li {
  width: 10vw;
  height: 7vh;
  text-align: center;
  border: 0.1rem solid black;
}

@media (min-width: 504px) {
  .pokemon_picture-header {
    width: 50vw;
    background-origin: border-box;
  }
}

@media (min-width: 780px) {
  .pokemon_picture-header {
    width: 40vw;
  }

  .pagination-container, 
  .pagination {
    height: 5vh;
  }

  .pagination li {
    height: 5vh;
    border: none;
  }


}

@media (min-width: 1024px) {
  .pokemon_picture-header {
    width: 20vw;
  }

  .pagination {
    width: 50vw;
    margin-left: 20rem;
}


}